.sources-list {
  padding-bottom: 10px;
}
.welcome-title {
  font-size: 30px;
  margin: 20px 0;
  color: orangered;
}
.subsection-title {
  font-size: 24px;
  margin: 20px 0;
  color: teal;
}
.paragraph {
  margin-bottom: 20px;
}
