<div class="content">
  <div class="welcome-title">About this project</div>
  <div class="paragraph">
    At the moment there are {{bots.length}} sources included in VeganBot. They are:
  </div>
  <div class="sources-list" *ngFor="let bot of bots">
    <a target="_blank" href="{{bot.homepage}}" class="source-link">{{bot.title}}</a>
    ({{bot.answerCount}} answers)
  </div>
  <div class="subsection-title">The story</div>
  <div class="paragraph">
    It all started when the idea was born. Now it has been done.
  </div>
  <div class="subsection-title">The code</div>
  <div class="paragraph">
    The github repo is
    <a target="_blank" href="https://github.com/atlisg12/vegan-bot">here</a>
  </div>
</div>