<div class="content">
  <div class="welcome-title">About this project</div>
  <div class="paragraph">
    At the moment there are {{bots.length}} sources providing answers in VeganBot. They are:
  </div>
  <div class="sources-list" *ngFor="let bot of bots">
    <a class="source-link" [ngClass]="{'dark-theme': isDark}" target="_blank" href="{{bot.homepage}}">{{bot.title}}</a>
    ({{bot.answerCount}} answers)
  </div>
  <div class="sources-total">Total ({{getTotalAnswerCount()}} answers)</div>
  <div class="subsection-title">The story</div>
  <div class="paragraph">
    It all started when the idea was born. Now it has been executed.
  </div>
  <div class="subsection-title">The code</div>
  <div class="paragraph">
    The github repo is
    <a class="github-link" [ngClass]="{'dark-theme': isDark}" target="_blank" href="https://github.com/atlisg12/vegan-bot">here</a>.
  </div>
</div>