.sources-list {
  padding-bottom: 10px;
}
.welcome-title {
  font-size: 30px;
  margin: 20px 0;
  color: #ff7a00;
}
.subsection-title {
  font-size: 24px;
  margin: 20px 0;
  color: #ff7a00;
}
.paragraph {
  margin-bottom: 20px;
}
.source-link,
.github-link {
  color: teal;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.dark-theme {
  color: aqua;
}
