<div class="content">
  <div class="created-by-title">Created by</div>
  <div class="atli-pix"></div>
  <div class="paragraph">
    <a
      class="source-link"
      [ngClass]="{ 'dark-theme': isDark }"
      target="_blank"
      href="https://www.instagram.com/atlisaevar/"
      >Atli Sævar
    </a>
    is a Software Engineer with expertise in Javascript and Typescript in the frontend and Python in
    the backend. He graduated in 2016 with a Bachelor’s degree in Computer Science from Reykjavik
    University with an average grade of 9.32. Since then he's worked as a full stack developer, at
    <a
      class="source-link"
      [ngClass]="{ 'dark-theme': isDark }"
      target="_blank"
      href="https://www.codenorth.com/"
      >Code North</a
    >, a small Icelandic startup, and then at
    <a
      class="source-link"
      [ngClass]="{ 'dark-theme': isDark }"
      target="_blank"
      href="https://www.dohop.com/"
      >Dohop</a
    >, a world leading flight comparison website, since September 2017. In his spare time, he
    sometimes works on personal projects like this one.
  </div>
  <div class="paragraph">
    Atli and his wife,
    <a
      class="source-link"
      [ngClass]="{ 'dark-theme': isDark }"
      target="_blank"
      href="https://www.instagram.com/doragigja/"
      >@doragigja</a
    >
    have been vegan since 2006 and they have two kids, aged 3 and 6, and two dogs, aged 8 and 13.
    They currently live in Suðurnesjabær, Iceland.
  </div>
  <div class="paragraph">
    Atli is always looking for new exciting projects to collaborate on, so please don’t hesitate to
    reach out if you got something good going on!
  </div>
  <div class="paragraph">
    Please contact me
    <a
      class="nav-link"
      [ngClass]="{ 'dark-theme': isDark }"
      routerLink="/contact"
      routerLinkActive="active"
      >here</a
    >
    or catch me on Instagram:
    <a
      class="source-link"
      [ngClass]="{ 'dark-theme': isDark }"
      target="_blank"
      href="https://www.instagram.com/atlisaevar/"
      >@atlisaevar</a
    >
  </div>
</div>
