.answer {
  padding-bottom: 50px;
}
.answer * {
  line-height: 1.4;
}
.link-in-answer {
  word-break: break-all;
  font-size: 13px;
  line-height: 0;
}
.chat-input {
  width: calc(100% - 40px);
  padding: 20px;
  border: 1px solid #999;
  font-size: 20px;
  font-family: inherit;
  background: #222;
  color: #00ff2b;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #009a22;
    font-size: 16px;
  }
}
.your-input-header {
  margin-top: 30px;
  color: #ff7a00;
}
.bot-answer-header {
  color: teal;
}
.your-input-header,
.bot-answer-header {
  margin-bottom: 5px;
}
.paragraph {
  margin-bottom: 20px;
}
.paragraph-text {
  width: 100%;
}
.cursor {
  animation: blink-animation 1s step-start 0s infinite;
  -webkit-animation: blink-animation 1s step-start 0s infinite;
}
.share-button-container {
  width: 100%;
  height: 65px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.share-button {
  background-color: teal;
  border: none;
  max-width: 366px;
  font-size: 32px;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto 0;
  border: none;
}
@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}
