<div class="content">
  <input
    class="chat-input"
    auto-complete
    [(ngModel)]="selectedAnswer"
    [source]="answers"
    [placeholder]="placeholders[nextPlace]"
    (valueChanged)="onSelect($event)"
    min-chars="1"
    match-formatted="false"
    [list-formatter]="formatList"
    [value-formatter]="formatAnswer"
  />
  <div id="ans" class="answer" *ngIf=selectedAnswer>
    <h3 class="your-input-header" [@yourInputHeaderState]="state">You:</h3>
    <div class="your-input" [@yourInputState]="state">{{selectedAnswer.key}}</div>
    <h3 class="bot-answer-header" [@botAnswerHeaderState]="state">{{selectedAnswer.source}}:</h3>
    <div class="bot-answer" [@botAnswerState]="state">
      <div *ngFor="let paragraph of selectedAnswer.answer; let i = index" class="paragraph">
        <span *ngIf="paragraph && paragraph.substr(0,4) !== 'http'">{{paragraph}}</span>
        <a
          *ngIf="paragraph && paragraph.substr(0,4) === 'http'"
          target="_blank"
          href="{{paragraph}}"
          class="link-in-answer"
        >
          {{paragraph}}
        </a>
      </div>
    </div>
  </div>
  <div class="share-button-container" *ngIf=selectedAnswer>
    <button class="share-button" (click)="share()" [@shareButtonState]="state">
      SHARE ANSWER
    </button>
  </div>
  <simple-notifications [options]="options"></simple-notifications>
</div>