<div class="content">
  <div class="welcome-title">Welcome, human!</div>
  <div class="paragraph">
    My aim is to provide answers to frequently asked questions about veganism,
    as well as counter arguments for common justifications for animal abuse.
  </div>
  <div class="paragraph">
    I collect these answers and counter arguments from various sources. For more info on them,
    navigate to the About page.
  </div>
  <div class="paragraph">
    If you don't find an answer for your query, or you have any feedback at all, please contact me at
    <a class="contact-email" [ngClass]="{'dark-theme': isDark}" href="mailto:atlisaevar@gmail.com?Subject=VeganBot" target="_top">atlisaevar@gmail.com</a>.
  </div>
  <div class="begin-button">
    <button (click)="startChatting()">BEGIN</button>
  </div>
  <div class="bot-drawing-all" [ngClass]="{'dark-theme': isDark}"></div>
</div>