.begin-button {
  width: 100%;
  height: 65px;
  text-align: center;
}
.begin-button button {
  background-color: #009a22;
  font-size: 32px;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 20px auto 0;
  border: none;
  max-width: 366px;
}
.welcome-title {
  font-size: 30px;
  margin: 20px 0;
  color: #ff7a00;
}
.paragraph {
  margin-bottom: 20px;
  line-height: 1.4;
}
.contact-email {
  color: teal;
  text-decoration: none;
}
.dark-theme {
  color: aqua;
}
.bot-drawing-all {
  background: url('/assets/veganbot_all_answers2_teal.png');
  background-size: 250px;
  height: 301px;
  width: 250px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 60px;
  &.dark-theme {
    background: url('/assets/veganbot_all_answers2.png');
    background-size: 250px;
  }
}
