.top-menu {
  position: fixed;
  background-color: #333;
  color: white;
  width: 100%;
  top: 0;
  z-index: 1;
  text-align: center;
  font-size: 32px;

  .title-container {
    flex-grow: 2;
    display: flex;
    .title-sides {
      flex-grow: 5;
    }
    .title-buttons {
      flex-grow: 1;
    }
    .main-title {
      cursor: pointer;
    }
    .subtitle {
      font-size: 13px;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .bot-icon {
    float: left;
    i {
      margin-top: 12px;
    }
  }
  .burger-icon {
    float: right;
    i {
      margin-top: 12px;
    }
  }
  .bot-icon,
  .burger-icon {
    width: 30px;
  }

  .top-menu-content {
    padding: 14px 34px;
    display: flex;
  }
}

.menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  right: -100%;
  z-index: 1;
  transition: 0.4s;
  background-color: #444;
  border-top: 1px solid #999;
  opacity: 0.9;
  max-width: 414px;

  .menu-item {
    font-size: 24px;
    color: white;
    padding: 25px;
    border-bottom: 1px solid #999;

    &:hover {
      background-color: teal;
    }

    i {
      width: 30px;
      text-align: center;
    }
  }
}

.select-bot-container {
  left: -100%;

  .bot-item {
    cursor: pointer;

    .bot-title {
      font-size: 20px;
    }
    .bot-answer-count {
      font-size: 13px;
    }
  }

  .selected {
    background-color: orange;
  }
}

.menu-open {
  transition: 0.4s;
  right: 0;
}
.select-bot-open {
  left: 0;
}
.app-content {
  max-width: 768px;
  margin: 85px auto 0;
}

.big-menu-bar,
.big-bot-selector {
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  .big-menu-bar-item {
    padding: 18px 20px;
    font-weight: normal;
    font-family: inherit;
    color: white;
    font-size: inherit;
  }
}
.big-menu-bar {
  text-align: right;
  margin-top: 18px;
}
.big-bot-selector {
  text-align: left;
  padding-top: 18px;
}

@media (min-width: 769px) {
  .burger-icon,
  .bot-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .big-menu-bar,
  .big-bot-selector {
    display: none;
  }
}
