@import '../variables.scss';

.top-menu {
  position: fixed;
  background-color: $background2;
  color: white;
  width: 100%;
  top: 0;
  z-index: 1;
  text-align: center;
  font-size: 32px;
  .title-container {
    flex-grow: 2;
    display: flex;
    .title-sides {
      flex-grow: 5;
    }
    .title-buttons {
      flex-grow: 1;
    }
    .main-title {
      font-family: Righteous;
      cursor: pointer;
      color: $head-color;
    }
    .subtitle {
      font-size: 13px;
      margin-top: -4px;
      cursor: pointer;
      color: #fff;
      font-weight: bold;
    }
  }
  .bot-icon {
    float: left;
    i {
      margin-top: 12px;
    }
  }
  .burger-icon {
    float: right;
    i {
      margin-top: 12px;
    }
  }
  .bot-icon,
  .burger-icon {
    width: 30px;
    cursor: pointer;
  }
  .top-menu-content {
    padding: 14px 34px;
    display: flex;
    height: 57px;
  }
}

.menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  right: -100%;
  z-index: 10;
  transition: 0.4s;
  background-color: $background2;
  border-top: 1px solid $border-color9;
  opacity: 0.9;
  max-width: 414px;
  .menu-item {
    font-size: 24px;
    color: white;
    padding: 27.5px;
    line-height: normal;
    border-bottom: 1px solid $border-color9;
    cursor: pointer;
    &:hover {
      background-color: $button-color;
      i {
        color: #fff;
      }
    }
    i {
      width: 30px;
      text-align: center;
      color: $head-color;
    }
  }
}

.select-bot-container {
  left: -100%;
  .bot-item {
    padding: 24.5px;
    .bot-title {
      font-size: 20px;
    }
    .bot-answer-count {
      font-size: 13px;
      color: $primary-color;
      margin-top: 5px;
    }
    &:hover {
      .bot-answer-count {
        color: #fff;
      }
    }
  }
  .selected {
    background-color: $secondary-color;
    .bot-answer-count {
      color: #fff;
    }
  }
}

.menu-open {
  transition: 0.4s;
  right: 0;
}
.select-bot-open {
  left: 0;
}
.app-content {
  max-width: 768px;
  margin: 85px 0 0;
  padding: 0 calc((100% - 768px) / 2);
  height: calc(100% - 127px);
  min-height: calc(100vh - 127px);
  color: $background2;
}
.big-menu-bar,
.big-bot-selector {
  font-size: 16px;
  cursor: pointer;
  i {
    color: $head-color;
  }
  .fa-sun-o,
  .fa-moon-o {
    color: #fff;
  }
  .big-menu-bar-item {
    padding: 18px 10px;
    font-weight: normal;
    font-family: inherit;
    color: white;
    font-size: inherit;
  }
}
.big-menu-bar {
  text-align: right;
  margin-top: 18px;
}
.big-bot-selector {
  text-align: left;
  padding-top: 18px;
}
.dark-theme {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
  a.contact-email {
    color: $head-color;
  }
}
.space {
  position: fixed;
  top: 85px;
  left: 0;
  background: url('/assets/checkit.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: $background2;
  color: white;
  text-align: center;
}
.powered-by,
.ethicode-link {
  padding: 0 30px;
}
.ext-link {
  color: $accent-color;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

@media (min-width: 1001px) {
  .burger-icon,
  .bot-icon {
    display: none;
  }
}

@media (max-width: 1000px) {
  .big-menu-bar,
  .big-bot-selector {
    display: none;
  }
}
