@font-face {
  font-family: "Inconsolata";
  src: url("/assets/Inconsolata/Inconsolata.otf") format("otf");
}
@font-face {
  font-family: "ubuntu";
  src: url("/assets/ubuntu-mono/UbuntuMono-R.ttf") format("ttf");
}
body,
button {
  font-family: Inconsolata, Courier, monospace;
}
body {
  margin: 0;
}
.content {
  padding: 24px 24px;
}
.ng2-auto-complete {
  border: 2px solid #999;

  .item {
    background-color: #eee;
    padding: 10px;
  }
  ul {
    max-height: 70vh;
  }
  .answer-source {
    font-size: 12px;
  }
}
