@import '~font-awesome/css/font-awesome.min.css';
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';
@import './variables.scss';

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/Inconsolata/Inconsolata.otf') format('otf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('/assets/ubuntu-mono/UbuntuMono-R.ttf') format('ttf');
}
@font-face {
  font-family: Matrix;
  src: url('/assets/white-rabbit/whitrabt.woff2') format('woff2'),
    url('/assets/white-rabbit/whitrabt.woff') format('woff');
}
@font-face {
  font-family: Righteous;
  src: url('/assets/Righteous/Righteous-Regular.ttf') format('ttf')
}

body,
button {
  font-family: Matrix, Courier, monospace;
}
body {
  margin: 0 auto;
  line-height: 1.4;
}
.content {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}
ng2-auto-complete {
  z-index: 2 !important;
}
.ng2-auto-complete {
  /* border: 2px solid #111; */
  .ng-star-inserted {
    border-color: $border-color9;
  }
  .item {
    background-color: $off-white;
    padding: 10px;
    border-color: $border-color9;
    line-height: 1.2;
    cursor: pointer;
    .dark-theme & {
      background-color: $background3;
      color: $off-white;
    }
    &:hover,
    &.selected {
      background-color: $primary-color;
      color: $off-white;
      .answer-source {
        color: $accent-color;
      }
    }
  }
  .loading,
  .no-match-found {
    padding: 10px;
    .dark-theme & {
      background-color: $background3;
    }
  }
  ul {
    max-height: 70vh;
  }
  .answer-source {
    font-size: 12px;
    margin-top: 5px;
    color: $primary-color;
    .dark-theme & {
      color: $secondary-color;
    }
  }
}

.bot-drawing {
  background: url('/assets/veganbot_all_answers2_teal.png') no-repeat;
  background-size: cover;
  width: calc(100vw - 48px);
  height: 100vw;
  .dark-theme & {
    background: url('/assets/veganbot_all_answers2.png') no-repeat;
    background-size: cover;
  }
}

@media (min-width: 480px) {
  .bot-drawing {
    background-size: 250px;
    width: 250px;
    height: 301px;
    float: right;
    margin-left: 30px;
    margin-bottom: 15px;
  }
}
