@import '~font-awesome/css/font-awesome.min.css';
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/Inconsolata/Inconsolata.otf') format('otf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('/assets/ubuntu-mono/UbuntuMono-R.ttf') format('ttf');
}
@font-face {
  font-family: Matrix;
  src: url('/assets/white-rabbit/whitrabt.woff2') format('woff2'),
    url('/assets/white-rabbit/whitrabt.woff') format('woff');
}

body,
button {
  font-family: Matrix, Courier, monospace;
}
body {
  margin: 0 auto;
  line-height: 1.4;
}
.content {
  padding: 24px;
}
ng2-auto-complete {
  z-index: 2 !important;
}
.ng2-auto-complete {
  /* border: 2px solid #111; */
  .ng-star-inserted {
    border-color: #999;
  }
  .item {
    background-color: #ddd;
    padding: 10px;
    border-color: #999;
    line-height: 1.2;
    cursor: pointer;
    .dark-theme & {
      background-color: #333;
      color: #ddd;
    }
    &:hover,
    &.selected {
      background-color: teal;
      color: #ddd;
      .answer-source {
        color: aqua;
      }
    }
  }
  .loading,
  .no-match-found {
    padding: 10px;
    .dark-theme & {
      background-color: #333;
    }
  }
  ul {
    max-height: 70vh;
  }
  .answer-source {
    font-size: 12px;
    margin-top: 5px;
    color: teal;
    .dark-theme & {
      color: #ff7a00;
    }
  }
}

.bot-drawing {
  background: url('/assets/veganbot_all_answers2_teal.png');
  background-size: 250px;
  opacity: 0.5;
  height: 301px;
  width: 250px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  right: 30px;
  .dark-theme & {
    background: url('/assets/veganbot_all_answers2.png');
    background-size: 250px;
  }
}
